// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options
@import 'bespoke-markdown/node_modules/highlight.js/styles/monokai_sublime.css'

@import './caniuse.css';

///
/// Variables
$page-header-height = 5vh


///
/// General tags
html, body
  height 100%
  overflow hidden

body
  background-color #FFD5D5

.bespoke-slide
  img.full-width
    width 100%
  img.large-width
    width 600px
  img.medium-width
    width 400px
  img.small-width
    width 200px
  img.full-height
    height 100%
  img.large-height
    height 400px
  img.medium-height
    height 300px
  img.small-height
    height 200px

del
  color gray

$dt-width = 160px
dt
  float left
  clear left
  width $dt-width
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  text-align right
dd
  margin-left ($dt-width + 20px)
dt, dd
  font-size 1.25em
  margin-bottom .5em
dl
  clearfix()

.bullet-old
  color gray

figcaption
  background-color whitesmoke
  padding 5px
  margin-bottom 3px

$table-border-color = gray
table
  border 2px solid $table-border-color

tr
  background-color rgba(255,255,255,.7)
  &:nth-of-type(even)
    background-color rgba(191,213,200,.7)

td, th
  padding .3em .5em
  border 1px solid $table-border-color

th
  color white
  background-color #333


.horizontal-list
  list-style none

  &> li
    display inline-block
    width 25%
    margin 0 4.5% 0 0
    vertical-align middle
    &:last-of-type
      margin 0


/// Header and content layout
#page-header
  height $page-header-height
  padding 0
  transition height 200ms ease-out, transform 200ms ease-out
  transform translate3d(0, -($page-header-height/2), 0)
  &:hover
    height 12vh
    transform translate3d(0, 0, 0)

#page-title
  display inline-block
  height 10vh
  margin 0
  font-size 7vh
  vertical-align top

#page-author
  display inline-block
  float right
  margin 8px;

#page-author-name
  display none

.page-author-picture
  width 60px
  height 60px
  border-radius 30px

#presentation-container
  position relative
  height "calc(100vh - %s)" % $page-header-height


/// Tutorial
$tutorial-right = 20px
.tutorial
  position absolute
  right $tutorial-right
  bottom 80px
  padding .5em .75em
  border-radius 20px
  background-color rgba(255, 255, 255, .7)
  font-family 'Cookie', cursive
  font-size 2em
  transition opacity 300ms ease-out
  opacity 0
  &.tutorial-on
    opacity 1
    animation bounce 1s ease-out 0s infinite alternate

@keyframes bounce {
  from {
    right: $tutorial-right;
  }
  to {
    right: $tutorial-right * 2;
  }
}

/// Presentation
$book-gutter-width = 30px
$book-height = 250px

.book-cover-container
  position relative
  perspective 400px
  transform-style preserve-3d
  transform rotateY(0)
  transform-origin center center
  transition transform 300ms ease-out

  &:hover
    transform rotateY(40deg)


.book-cover
  height $book-height

.book-left
  position absolute
  top 0
  left - $book-gutter-width
  width $book-gutter-width
  height $book-height
  transform rotateY(-90deg)
  background-color black
  transform-origin right center 0
  &.book-light
    background-color beige


.layered-paragraph
  background-color rgba(215, 215, 250, 0.5);

$portrait-size = 100px
.portrait,
.portrait img
  display inline-block
  width $portrait-size
  height $portrait-size
  border-radius ($portrait-size / 2)
  figcaption
    background-color transparent

.list-horizontal
  list-style-type none
  clearfix()
.list-horizontal li
  float left

$bubble-tip-size = 8px

.bubble-chat
  display block
  box-sizing border-box
  width 100%
  padding 0 (2 * $bubble-tip-size)
  clearfix()
.narration
  clear both
  display block
.bubble
  position relative
  display block
  width 85%
  margin 10px 0
  padding 4px 7px 7px 7px
  background-color white
  border-radius 5px
  &.bubble-left
    float left
    text-align left
  &.bubble-right
    float right
    text-align right
    &:before
      left inherit
      right - (2 * $bubble-tip-size)
      border-color transparent transparent transparent white
  &:before
    content ""
    position absolute
    border-width $bubble-tip-size
    border-style solid
    border-color transparent white transparent transparent
    left - (2 * $bubble-tip-size)
    top "calc(50% - %s)" % ($bubble-tip-size)
    width 0
    height 0
.bubble-author
  display block
  text-transform uppercase
  font-weight bold
  font-size 75%
  for author-color, i in blueviolet brown cornflowerblue crimson darkmagenta forrestgreen limegreen darkgray
    &.bubble-author-{i}
      color author-color
