

strong.alternate-color
  color #7b9c02

.figure-slides > p
  margin 0

abbr[title]
  border-bottom initial

a:link
  text-decoration underline
  color #4CAF50
  // animation color-swift(@color) 1s linear 0s infinite alternate

a:hover
  text-decoration none

// color-swift
//   @keyframes color-swift(c)
//     from { color c }
//     to   { darken(c, 40%) }



.show-active-slide-and-previous
  .bespoke-before-1
    transform translate3d(-30%, 0, -250px) rotateY(10deg)
    opacity 1
  .bespoke-active
    transform translate3d(30%, 0, -250px) rotateY(-10deg)

[data-bespoke-state=show-active-slide-and-previous]
  &.bespoke-before-1
    transform translate3d(-30%, 0, -250px) rotateY(10deg)
    opacity 0
