

html,
body {
  @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif;

}

#api2 {
  background-image: url("https://img00.deviantart.net/f247/i/2014/224/f/6/castle_gate_by_jonathandufresne-d7uxbmw.jpg");
}

#api1 {
  background-image: url("https://i.ytimg.com/vi/GrAav0i9jtg/maxresdefault.jpg");
}

#exemplo{
  background-image: url("https://image.winudf.com/v2/image/Y29tLmJpbGl5LmluY29ycC5NZWRpZXZhbEZhbnRhc3lUb3duTWFwLk1pbmVjcmFmdFBFX3NjcmVlbl80XzE1MjY0NTU4MDdfMDAy/screen-4.jpg?h=800&fakeurl=1&type=.jpg");
}

#avatar{
  height: 40%;
  width: auto;
  top: 47%;
  left: 75%;
  z-index: 1;
  position: fixed;
}


#imgplaca{
  top: 0;
  position:fixed;
  width: 25%;
  height: 30%;
  left: 35%;
}
h1 {
  z-index: 1;
  top: 20%;
  color: #fff;
  left: 40%;
  position:fixed;
}

.block {
  top:40%;
  left: 25%;
  position: relative;
  width: 10%;
  height: 300px;
  display: inline-block;
  background-image: url("https://image.freepik.com/vetores-gratis/prancha-de-madeira-de-vetor-marrom_41929-228.jpg");
  cursor: pointer;
  -webkit-transition: width .5s ease-in-out, background-image .5s ease-in-out;
  -moz-transition: width .5s ease-in-out, background-image .5s ease-in-out;
  -ms-transition: width .5s ease-in-out, background-image .5s ease-in-out;
  -o-transition: width .5s ease-in-out, background-image .5s ease-in-out;
  transition: width .5s ease-in-out, background-image .5s ease-in-out;
  text-align: center;
}

.block:hover {
  width: 30%;
  -webkit-transition: width .5s ease-in-out, background-color .5s ease-in-out;
  -moz-transition: width .5s ease-in-out, background-color .5s ease-in-out;
  -ms-transition: width .5s ease-in-out, background-color .5s ease-in-out;
  -o-transition: width .5s ease-in-out, background-color .5s ease-in-out;
  transition: width .5s ease-in-out, background-color .5s ease-in-out;
}

.block:hover .img-p {
  opacity: 1;
  -webkit-transition: opacity .5s .51s ease-in-out;
  -moz-transition: opacity .5s .51s ease-in-out;
  -ms-transition: opacity .5s .51s ease-in-out;
  -o-transition: opacity .5s .51s ease-in-out;
  transition: opacity .5s .51s ease-in-out;
}

.block:hover .layer {
  background-color: #5c0a12;
  opacity: .8;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.img-p {
  position: absolute;
  font-size: 16px;
  opacity: 0;
  color: #FFF;
  text-align: left;
  line-height: 1.6em;
}

.p-container {
  width: 80%;
  position: relative;
  top: 30%;
  margin-left: 5%;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media (max-width: 768px) {
     .container {
       width: 100%;
       margin: 0 auto;
     }
     .block {
       width: 100%;
       height: 200px;
        -webkit-transition: height .5s ease-in-out;
          -moz-transition: height .5s ease-in-out;
           -ms-transition: height .5s ease-in-out;
            -o-transition: height .5s ease-in-out;
               transition: height .5s ease-in-out;
     }

     .block:hover {
       width: 100%;
       height: 400px;
       -webkit-transition: height .5s ease-in-out;
          -moz-transition: height .5s ease-in-out;
           -ms-transition: height .5s ease-in-out;
            -o-transition: height .5s ease-in-out;
               transition: height .5s ease-in-out;
     }
   }


@media (min-width: 768px) {
     .block {
       width: 15%;
     }
   }

   @media (min-width: 992px) {
     .block {
       width: 10%;
     }
   }

.ua {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #fff;
  font-size: 2em;
}

.fa {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #5c0a12;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/*===========SETAS=================*/
.arrow{
  width: 35px;
  height: 35px;
  position:fixed;
  top:50%;
  z-index:1;
  border-top:5px solid #fff;
  border-right:5px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover{
	border-color:#eb4758
}

.arrow-left{
  left:20px;
  transform:rotate(225deg);
}

.arrow-right{
  right:20px;
  transform:rotate(45deg);
}
